{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div style="background-image: url(https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwiSuJOxlJfmAhUryoUKHbRTBsEQjRx6BAgBEAQ&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fneighborhood&psig=AOvVaw0iye318ZHCHxVVCU7nyw5l&ust=1575363453847780);height: 700px;width: 100%;">
<div class="container" style="margin-bottom: 50px;background-color: transparent;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="{% url 'notifications'%}">
      <p class="card" style="text-align: center; padding: 20px;border: 2px solid #00ACC1;border-radius:100px;font-weight:bolder; font-size: 30px;margin-top: 30px;">Notifications</p>

    </a>
    </div>
    <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="{% url 'blog'%}">
      <p class="logos black-text" style="text-align: center; padding: 20px;border: 2px solid #00ACC1;border-radius : 100px;font-weight:bolder; font-size: 30px;margin-top: 30px;">Blog Posts</p>

      </a>
    </div>
    <div class="card">
      <a href="{% url 'health'%}">
            <p class="logos black-text" style="text-align: center; padding: 20px;border: 2px solid #00ACC1;border-radius:100px;font-weight:bolder; font-size: 30px;">Health services</p>

      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
      <a href="{% url 'authorities'%}">
      <p class="logos black-text" style="text-align: center; padding: 20px;border: 2px solid #00ACC1;border-radius:100px;font-weight:bolder; font-size: 30px;">Authorities</p>

    </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
      <a href="{% url 'businesses'%}">
      <p class="logos black-text" style="text-align: center; padding: 20px;border: 2px solid #00ACC1;border-radius:100px;font-weight:bolder; font-size: 30px;">Businesses</p>

    </a>
    </div>
  </div>
</div>
</div>
{% endblock %}