{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div style="background-image: url(https://media.licdn.com/dms/image/C561BAQH6LdGkTIjGWw/company-background_10000/0?e=2159024400&v=beta&t=-ZR4C2gvss48QvS3yl_Dk3oC-L9c_dBOllP5Z2r9QcU);">
<div class="container" style="margin-bottom: 50px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="{% url 'notifications'%}">
      <p class="logos black-text" style="text-align: center; padding: 20px;border: 2px solid #00ACC1;border-radius:100px;font-weight:bolder; font-size: 30px;">Notifications</p>

    </a>
    </div>
    <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <a href="{% url 'blog'%}">
      <p class="logos black-text" style="text-align: center; padding: 20px;border: 2px solid #00ACC1;border: radius 100px;font-weight:bolder; font-size: 30px;">Blog Posts</p>

      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
      <a href="{% url 'health'%}">
            <p class="logos black-text" style="text-align: center; padding: 20px;border: 2px solid #00ACC1;border-radius:100px;font-weight:bolder; font-size: 30px;">Health services</p>

      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
      <a href="{% url 'authorities'%}">
      <p class="logos black-text" style="text-align: center; padding: 20px;border: 2px solid #00ACC1;border-radius:100px;font-weight:bolder; font-size: 30px;">Authorities</p>

    </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6">
      <a href="{% url 'businesses'%}">
      <p class="logos black-text" style="text-align: center; padding: 20px;border: 2px solid #00ACC1;border-radius:100px;font-weight:bolder; font-size: 30px;">Businesses</p>

    </a>
    </div>
  </div>
</div>
</div>
{% endblock %}